/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/ignite
.settings
.classpath
.project
.settings/
.cache
.cache-*
.desktop.ini
bin/*
.idea/
dev.conf
!/bin/sbt*
!/bin/run*
.bsp